In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('IMDB-Movie-Data.csv')
data=data.fillna(0) #空白處補0
data

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,55,The Dark Knight,Action|Crime|Drama,Christopher Nolan,Christian Bale| Heath Ledger| Aaron Eckhart|Mi...,2008,152,9.0,1791916,533.32,82.0
1,81,Inception,Action|Adventure|Sci-Fi,Christopher Nolan,Leonardo DiCaprio| Joseph Gordon-Levitt| Ellen...,2010,148,8.8,1583625,292.57,74.0
2,118,Dangal,Action|Biography|Drama,Nitesh Tiwari,Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...,2016,161,8.8,48969,11.15,0.0
3,37,Interstellar,Adventure|Drama|Sci-Fi,Christopher Nolan,Matthew McConaughey| Anne Hathaway| Jessica Ch...,2014,169,8.6,1047747,187.99,74.0
4,97,Kimi no na wa,Animation|Drama|Fantasy,Makoto Shinkai,Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...,2016,106,8.6,34110,4.68,79.0
...,...,...,...,...,...,...,...,...,...,...,...
995,969,Wrecker,Action|Horror|Thriller,Micheal Bafaro,Anna Hutchison| Andrea Whitburn| Jennifer Koen...,2015,83,3.5,1210,0.00,37.0
996,648,Tall Men,Fantasy|Horror|Thriller,Jonathan Holbrook,Dan Crisafulli| Kay Whitney| Richard Garcia| P...,2016,133,3.2,173,0.00,57.0
997,43,Don't Fuck in the Woods,Horror,Shawn Burkett,Brittany Blanton| Ayse Howard| Roman Jossart|N...,2016,73,2.7,496,0.00,0.0
998,872,Dragonball Evolution,Action|Adventure|Fantasy,James Wong,Justin Chatwin| James Marsters| Yun-Fat Chow| ...,2009,85,2.7,59512,9.35,45.0
999,830,Disaster Movie,Comedy,Jason Friedberg,Carmen Electra| Vanessa Lachey|Nicole Parker| ...,2008,87,1.9,77207,14.17,15.0

# 第一題

In [4]:
data_2016=data[data['Year']==2016] #篩選出2016年的電影
data_2016=data_2016.sort_values(['Rating'],ascending=False) #照rating大排到小
print(data_2016['Title'][0:3])#前三排名的電影

2             Dangal
4      Kimi no na wa
15    Koe no katachi
Name: Title, dtype: object

# 第二題

In [5]:
data=pd.read_csv('IMDB-Movie-Data.csv')
#Revenue為0的列刪除並重新排列index
data=data.dropna(how="any",subset=['Revenue (Millions)'],inplace=False).reset_index() 

actor_list=[]
actor_list_count=[] #紀錄該部電影有幾位演員
#將每一列actor取出並將所有演員extend到actor_list中
for i in range(0,len(data)):
    actor=data['Actors'][i].split('|')
    #去除前面空格
    for j in range(0,len(actor)):
        actor[j]=actor[j].strip()
    actor_list.extend(actor)
    actor_list_count.append(len(actor))
#pd.Series(actor_list)

revenue_list=[] #按照actor把revenue依序排出來
for i in range(0,len(data)):
    for j in range(0,actor_list_count[i]):
        revenue_list.append(data['Revenue (Millions)'][i])
        
# 將actor和對應的revenue製成一個dataframe
actor_revenue=pd.DataFrame({'Actor': actor_list,'Revenue': revenue_list})

#把個別actor的revenue計算平均並且由大排到小
actor_revenue=actor_revenue.groupby('Actor').mean().sort_values(['Revenue'],ascending=False)

#第0筆為average revenue最大的演員。記錄並列排名到第幾列
average_revenue=actor_revenue['Revenue'][0]
for i in range(0,len(actor_revenue)):
    if actor_revenue['Revenue'][i]==average_revenue:
        result=i
#印出結果        
print(actor_revenue[0:result+1])

              Revenue
Actor
John Boyega    936.63
Daisy Ridley   936.63

# 第三題

In [6]:
data=pd.read_csv('IMDB-Movie-Data.csv')
data=data.fillna(0) #空白處補0

actor_list=[]
actor_list_count=[] #紀錄該部電影有幾位演員
#將每一列actor取出並將所有演員extend到actor_list中
for i in range(0,len(data)):
    actor=data['Actors'][i].split('|')
    for j in range(0,len(actor)):
        actor[j]=actor[j].strip()
    actor_list.extend(actor)
    actor_list_count.append(len(actor))


rating_list=[] #按照actor把rating依序排出來
for i in range(0,len(data)):
    for j in range(0,actor_list_count[i]):
        rating_list.append(data['Rating'][i])
        
# 將actor和對應的rating製成一個dataframe
actor_rating=pd.DataFrame({'Actor': actor_list,'Rating': rating_list})

actor_rating=actor_rating.groupby('Actor').mean().reset_index() 
actor_rating[actor_rating['Actor']=="Emma Watson"]

           Actor  Rating
603  Emma Watson   7.175

# 第四題

In [7]:
data=pd.read_csv('IMDB-Movie-Data.csv')
data=data.fillna(0) #空白處補0

actor_list=[]
actor_list_count=[] #紀錄該部電影有幾位演員
#將每一列actor取出並將所有演員extend到actor_list中
for i in range(0,len(data)):
    actor=data['Actors'][i].split('|')
    for j in range(0,len(actor)):
        actor[j]=actor[j].strip()
    actor_list.extend(actor)
    actor_list_count.append(len(actor))


director_list=[] #按照actor把rating依序排出來
for i in range(0,len(data)):
    for j in range(0,actor_list_count[i]):
        director_list.append(data['Director'][i])
        
# 將actor和對應的rating製成一個dataframe
actor_rating=pd.DataFrame({'Actor': actor_list,'Director': director_list})

#把重複合作的刪掉
actor_rating=actor_rating.drop_duplicates()

#先確認個導演的合作人次，找出前四位是合作演員前三名的導演
actor_rating['Director'].value_counts().head(4)

Ridley Scott          28
M. Night Shyamalan    24
Danny Boyle           20
Paul W.S. Anderson    20
Name: Director, dtype: int64

# 第五題

In [8]:
data=pd.read_csv('IMDB-Movie-Data.csv')
#Revenue為0的列刪除並重新排列index
data=data.dropna(how="any",subset=['Revenue (Millions)'],inplace=False).reset_index() 

actor_list=[]
actor_list_count=[] #紀錄該部電影有幾位演員
#將每一列actor取出並將所有演員extend到actor_list中
for i in range(0,len(data)):
    actor=data['Actors'][i].split('|')
    #去除前面空格
    for j in range(0,len(actor)):
        actor[j]=actor[j].strip()
    actor_list.extend(actor)
    actor_list_count.append(len(actor))
    
genre_list=[] #按照actor把genre依序排出來
for i in range(0,len(data)):
    for j in range(0,actor_list_count[i]):
        genre_list.append(data['Genre'][i])

        
# 將actor和對應的genre製成一個dataframe
actor_genre=pd.DataFrame({'Actor': actor_list,'Genre': genre_list})

actor_genre=actor_genre.sort_values(by=['Actor']).reset_index(drop=True)


genre_list=[]
genre_list_count=[] #紀錄該部電影包含幾種類型
#將每一列genre取出並將所有genre extend到genre_list中
for i in range(0,len(actor_genre)):
    genre=actor_genre['Genre'][i].split('|')
    genre_list.extend(genre)
    genre_list_count.append(len(genre))

    
actor_list=[] #按照genre把actor依序排出來
for i in range(0,len(actor_genre)):
    for j in range(0,genre_list_count[i]):
        actor_list.append(actor_genre['Actor'][i])
        
        
df=pd.DataFrame({'Actor': actor_list,'Genre': genre_list})

#刪掉重複的資料
df=df.drop_duplicates().reset_index(drop=True)

#類型前兩高的演員
df['Actor'].value_counts().head(6)

Brad Pitt             14
Amy Adams             13
Chloe Grace Moretz    13
Hugh Jackman          13
Johnny Depp           13
Scarlett Johansson    13
Name: Actor, dtype: int64

# 第六題

In [9]:
data=pd.read_csv('IMDB-Movie-Data.csv')
data=data.fillna(0) #空白處補0

actor_list=[]
actor_list_count=[] #紀錄該部電影有幾位演員
#將每一列actor取出並將所有演員extend到actor_list中
for i in range(0,len(data)):
    actor=data['Actors'][i].split('|')
    for j in range(0,len(actor)):
        actor[j]=actor[j].strip()
    actor_list.extend(actor)
    actor_list_count.append(len(actor))


year_list=[] #按照actor把year依序排出來
for i in range(0,len(data)):
    for j in range(0,actor_list_count[i]):
        year_list.append(data['Year'][i])
        
# 將actor和對應的year製成一個dataframe
actor_year=pd.DataFrame({'Actor': actor_list,'Gap Year': year_list})

#按照actor分群將最大年分-最小年分，並且按照gap year由大到小排序
actor_year=(actor_year.groupby('Actor').max()-actor_year.groupby('Actor').min()).sort_values(['Gap Year'],ascending=False)
actor_year=actor_year.reset_index() 
actor_year

#第0筆為gap year最大，index紀錄並排到第幾筆
max_gap=actor_year['Gap Year'][0]
for i in range(0,len(actor_year)):
    if actor_year['Gap Year'][i]==max_gap:
        index=i
        
print(actor_year[0:index+1])

                  Actor  Gap Year
0      Jennifer Aniston        10
1         Toni Collette        10
2          Ben Kingsley        10
3            Tom Cruise        10
4             Tom Hanks        10
5           Ben Whishaw        10
6         Ellen Burstyn        10
7           Johnny Depp        10
8           Bob Balaban        10
9          Paula Patton        10
10            Brad Pitt        10
11       Morgan Freeman        10
12        Gerard Butler        10
13    Michelle Monaghan        10
14           Judi Dench        10
15       Justin Theroux        10
16          Owen Wilson        10
17         Jessica Biel        10
18          Emily Blunt        10
19    Sacha Baron Cohen        10
20         Steve Carell        10
21       Jack Davenport        10
22   Scarlett Johansson        10
23       Dustin Hoffman        10
24    Samuel L. Jackson        10
25        Anne Hathaway        10
26         Hugh Jackman        10
27         Rachel Weisz        10
28        Russell Crowe        10
29         Dominic West        10
30    Denzel Washington        10
31    Jennifer Connelly        10
32        Audrey Tautou        10
33         Jeremy Irons        10
34         Meryl Streep        10
35        Edward Norton        10
36  Bryce Dallas Howard        10
37        Kate Bosworth        10
38          Luke Wilson        10
39        Abbie Cornish        10
40         Kang-ho Song        10
41     Marion Cotillard        10
42     Chiwetel Ejiofor        10
43  Christopher Plummer        10
44           Will Smith        10
45        Mark Wahlberg        10
46        Kirsten Dunst        10
47         Will Ferrell        10
48           Matt Damon        10
49         Kevin Spacey        10
50       Christian Bale        10
51            Eva Green        10
52         Maya Rudolph        10

# 第七題

In [10]:
data=pd.read_csv('IMDB-movie-Data.csv')
actor=[]#記錄所有與Johnny Depp直接合作的演員
for i in range(len(data)):
    if 'Johnny Depp' in data['Actors'][i]:
        actor.append(data['Actors'][i])
        data.drop(index=[i])
#actor=np.array(actor)
actors=[] #將以|列在一起的演員拆開
for i in range(len(actor)):
    movie_actor=actor[i].split('|')
    #去除前面空格
    for j in range(0,len(movie_actor)):
        movie_actor[j]=movie_actor[j].strip()
        
    actors.extend(movie_actor)
#刪除重複的演員及Johnny Depp
df=pd.DataFrame({'Actor':actors}).drop_duplicates().drop(index=[0])
df

                   Actor
1   Helena Bonham Carter
2           Alan Rickman
3          Timothy Spall
5          Orlando Bloom
6        Keira Knightley
7         Jack Davenport
11         Geoffrey Rush
12        Christian Bale
14      Christian Stolte
15          Jason Clarke
17  Benedict Cumberbatch
18        Dakota Johnson
19         Joel Edgerton
21         Penelope Cruz
22           Ian McShane
24        Mia Wasikowska
27         Anne Hathaway
29          Armie Hammer
30      William Fichtner
31         Tom Wilkinson
33          Rebecca Hall
34        Morgan Freeman
35        Cillian Murphy
41     Michelle Pfeiffer
42             Eva Green
44        Lily-Rose Depp
45    Harley Quinn Smith
47            Adam Brody